<div class="wrapper">
  <h1>Nos Services</h1>
  <p>AnfaEvents vous accompagne dans la gestion de tous vos événements : sportifs, culturels, cinéma, théâtre, conférences, et plus encore.
    La plateforme propose la vente de billets en ligne, l'interaction en temps réel avec le public, une planification optimisée, des programmes d'accompagnement adaptés et un support dédié pour chaque étape de l'organisation.</p>
  <div class="content-box">
    <!-- Service 1 -->
    <div class="card">
      <div class="card-image">
        <img src="../../assets/s1.jpeg" alt="Gestion des Billets">
      </div>
      <div class="card-content">
        <i class="bx bxs-store bx-md"></i>
        <h2>Gestion des Billets</h2>
        <p>Simplifiez la vente et la distribution des billets grâce à notre plateforme conviviale de gestion des billets en ligne.</p>
      </div>
    </div>

    <!-- Service 2 -->
    <div class="card">
      <div class="card-image">
        <img src="../../assets/s2.jpeg" alt="Interaction en Temps Réel">
      </div>
      <div class="card-content">
        <i class="bx bx-user bx-md"></i>
        <h2>Interaction en Temps Réel</h2>
        <p>Favorisez l'interaction entre les participants avec des fonctionnalités en temps réel, des commentaires et des sondages.</p>
      </div>
    </div>

    <!-- Service 3 -->
    <div class="card">
      <div class="card-image">
        <img src="../../assets/s3.jpeg" alt="Planification Optimisée">
      </div>
      <div class="card-content">
        <i class="bx bx-time bx-md"></i>
        <h2>Planification Optimisée</h2>
        <p>Utilisez notre outil de planification avancée pour optimiser les horaires, les emplacements et les ressources de votre événement.</p>
      </div>
    </div>

    <!-- Service 4 -->
    <div class="card">
      <div class="card-image">
        <img src="../../assets/s4.jpeg" alt="Programme de Formation Athlétique">
      </div>
      <div class="card-content">
        <i class="bx bx-football bx-md"></i>
        <h2>Programme de Formation Athlétique</h2>
        <p>Proposez un programme de formation athlétique intégré pour aider les participants à se préparer et à exceller dans leurs performances sportives.</p>
      </div>
    </div>

    <!-- Service 5 -->
    <div class="card">
      <div class="card-image">
        <img src="../../assets/s5.jpeg" alt="Équipe de Support">
      </div>
      <div class="card-content">
        <i class="bx bx-support bx-md"></i>
        <h2>Équipe de Support</h2>
        <p>Bénéficiez de l'assistance continue de notre équipe dédiée pour répondre à vos besoins spécifiques liés à la gestion d'événements sportifs.</p>
      </div>
    </div>
  </div>
</div>